.topnav {
  background-color: #fff;
  overflow: hidden;
  margin-top: 30px;
  text-align: center;
}

/* Align Logo left */
.navbar-brand {
  text-align: left;
  color: #000;
}
/* Alpha Logo */
.logo {
  display: block;
  float: left;
  padding: 15px;
}

.topnav-right {
  float: right;
  margin-top: 30px;
  margin-right: 100px;
  font-family: 'Courier New', Courier, monospace;
  color: #000;
  font-size: 25px;
}

/* Text */
h1 {
  color: #000;
  font-family: 'Courier New', Courier, monospace;
  font-size: 20px;
}
h2 {
  color: #000;
  font-family: 'Courier New', Courier, monospace;
  font-size: 20px;
  font-weight: normal;
}
h3 {
  color: #000;
  font-family: 'Avenir', sans-serif;
  font-size: 15px;
  font-weight: normal;
}
h4 {
  color: #000;
  font-family: 'Avenir', sans-serif;
  font-size: 15px;
}

h5 {
  color: #000;
  font-family: 'Courier New', Courier, monospace;
  font-size: 30px;
  font-weight: normal;
}

h6 {
  color: #000;
  font-family: 'Courier New', Courier, monospace;
  font-size: 15px;
  font-weight: normal;
}

@font-face {
  font-family: 'Avenir Reg';
  src: url('AvenirLTStd-Book.otf/avenir_ff');
}
div {
  font-family: 'Avenir', sans-serif;
}

@font-face {
  font-family: 'Avenir';
  src: url('AvenirLTStd-Black.otf/avenir_ff');
}
div {
  font-family: 'AvenirReg', sans-serif;
}

.navbar-brand {
  text-align: left;
}
/* Alpha Logo */
.logo {
  display: block;
  float: left;
}

.profile-pic {
  float: left;
  margin-top: 100px;
  margin-left: 100px;
  margin-right: 80px;
}

.profile-text {
  margin-right: 100px;
  margin-top: 100px;
}

.Projects {
  float: right;
  margin-top: 150px;
  margin-right: 300px;
}

.Learnmore {
  font-family: 'Courier New', Courier, monospace;
}

.footer {
  width: 100%;
  height: 120px;
  margin-top: 100px;
  margin-bottom: 40px;
  background-color: #d9e3ed;
}

.footertext {
  margin-right: 100px;
  margin-top: 15px;
}

.resume {
  width: 60%;
  height: 1000px;
  margin-left: 20%;
  margin-right: 20%;
}

.casestudyheading {
  margin-left: 50px;
  text-decoration: none;
}

.casestudy1 {
  float: center;
}

* {
  box-sizing: border-box;
}

/* Create two equal columns that floats next to each other */
.column {
  min-width: 35%;
  max-width: 35%;
  padding: 10px;
}
.row {
  min-width: 100%;
  width: 100%;
}

.column3 {
  margin-top: 0em;
  min-width: 45%;
  padding-right: 300px;
  display: table;
}

/* Clear floats after the columns */
.row:after {
  content: '';
  display: table;
  clear: both;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  /* width: 50%; */
}

/* Create four equal columns that floats next to each other */
.column2 {
  float: left;
  min-width: 25%;
  max-width: 25%;
  padding: 10px;
  /* height: 300px; Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row2:after {
  content: '';
  display: block;
  clear: both;
}

.row2 {
  min-width: 100%;
  width: 100%;
  display: inline-block;
}

.column3 {
  min-width: 50%;
  max-width: 50%;
  padding: 10px;
}

.project-center {
  width: 100%;
}

.accent-underline {
  background-image: linear-gradient(180deg, white 50%, #d9e3ed 50%);
  background-size: 100% 100%;
  display: inline-block;
  padding-right: 0.5em;
  padding-left: 0.15em;
}

.accent-indent-underline {
  background-image: linear-gradient(180deg, white 50%, #d9e3ed 50%);
  background-size: 100% 100%;
  display: inline-block;
  padding-right: 0.5em;
  padding-left: 0.15em;
  margin-left: 1.5em;
}

.parent {
  /* overflow: hidden; */
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;
}

.sub-parent {
  padding-left: 2.5em;
}

span.clear {
  clear: left;
  display: block;
}

.full-width {
  width: 100%;
  height: auto;
  margin-left: 0;
  margin-right: 0;
}

.project-title {
  position: relative;
  margin-top: 20px;
  margin-left: 35%;
  background-image: linear-gradient(180deg, white 45%, #d9e3ed 45%);
  background-size: 100% 100%;
  background-position: left;
  text-align: left;
  padding-right: 0.5em;
  padding-left: 10em;
  padding-bottom: 0.15em;
  font-size: 32px;
}

.site-heading-bg {
  background-position: left;
  position: relative;
  background-image: linear-gradient(180deg, white 50%, #d9e3ed 50%);
  background-size: 100% 100%;
  padding-right: 0.5em;
  padding-left: 4.25em;
  /* padding-bottom: 0.15em; */
  margin-top: 20px;
  margin-left: 35%;
}

.site-heading {
  /* background-image: linear-gradient(180deg, white 45%, #d9e3ed 45%); */
  text-align: left;
  font-size: 32px;
  animation: typing 3.5s steps(40, end);
  overflow: hidden;
  white-space: nowrap;
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

.column3 {
  float: left;
  width: 50%;
  padding: 10px;
}

/* Clear floats after the columns */
.row3:after {
  content: '';
  display: table;
  clear: both;
}

#myBtn {
  font-family: 'Courier New', Courier, monospace;
  display: none; /* Hidden by default */
  padding-bottom: 20px; /* Place the button at the bottom of the page */
  padding-right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  color: #000; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 3px; /* Rounded corners */
  font-size: 20px; /* Increase font size */
  background-color: transparent; /* Add a dark-grey background on hover */
  float: right;
  bottom: 0;
  position: -webkit-sticky;
  position: sticky;
}

#myBtn:hover {
  transform: scale(1.1);
}

.grow {
  transition: all 0.2s ease-in-out;
}

.grow:hover {
  transform: scale(1.1);
}

.dropbtn {
  color: #000;
  padding-top: 40px;
  /* padding-right: 10px; */
  font-size: 20px;
  border: none;
  background-color: #fff;
  font-family: 'Courier New', Courier, monospace;
  text-decoration: none;
}

.dropdown {
  position: relative;
  /* display: inline-block; */
  /* padding-right: 10em; */
  text-decoration: none;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  font-family: 'Courier New', Courier, monospace;
  text-decoration: none;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #fff;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  transform: scale(1.1);
  text-decoration: underline;
}

.chapters {
  float: right;
  margin-right: 2em;
  padding-top: 60px;
}

div.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  padding: 40px;
}

.contactform {
  padding-top: 5em;
  padding-left: 25%;
}

.grow2 {
  transition: all 0.2s ease-in-out;
  font-family: 'Courier New', Courier, monospace;
}

.grow2:hover {
  transform: scale(1.1);
  text-decoration: underline;
  color: #000;
}

div.gallery {
  margin: 20px;
  border: 2px solid #000;
  float: left;
  width: 180px;
}

div.gallery:hover {
  border: 3px solid #000;
}

div.gallery img {
  width: 100%;
  height: 200px;
}

div.desc {
  padding: 15px;
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
}

.aboutmeimages {
  width: 300px;
}

.active {
  font-weight: bold;
  color: black;
}

.nonactive {
  font-weight: normal;
  color: #000;
}

.center2 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

/* For modal content */
.myImg {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.myImg,
.myImgHeader:hover {
  opacity: 0.5;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.3); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
  margin: auto;
  display: block;
  max-width: 80%;
  max-height: 90%;
  /* max-width: 700px; */
}

/* Caption of Modal Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation */
.modal-content,
#caption {
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {
    -webkit-transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
  }
}

@keyframes zoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
  font-family: 'Courier New', Courier, monospace;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px) {
  .modal-content {
    width: 100%;
  }
}
/* End of modal content */

a {
  text-decoration: none;
}
